[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
slack-bolt = "*"
requests = "*"
aiohttp = "*"
html-slacker = "*"
omdbapi = "*"

[dev-packages]

[requires]
python_version = "3.8"
